@font-face {
  font-family: "Kalpurush";
  src: url("/kalpurush.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Kalpurush", sans-serif;
}




@tailwind base;
@tailwind components;
@tailwind utilities;



/* Tailwind Custom Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
