@font-face {
  font-family: "Kalpurush";
  src: url("/kalpurush.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Kalpurush", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Custom Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#pdf-report {
  width: 210mm; /* A4 width in mm */
  height: 297mm; /* A4 height in mm */
  padding: 16mm; /* Adjust padding to match your layout */
  margin: 0 auto;
  overflow: hidden;
}
